<html>
  <head>
    <title>Bank report</title>
  </head>
  <body>
    <h1>Bank_Reports</h1><hr/>
    <p>Creating monthly bank report</p>
    <form method="GET" action="/routes/report.js">
      <div class="total transactions report">
        <ul class="transaction count">
            <li><a href="views\acc_wise_report">Account wise total transaction report</a></li>
            <li><a href="views\agent_wise_report">Agent wise total transaction report</a></li>
        </ul>
        </div>
    </form>
    <!-- <table border="1" cellpadding="7" cellspacing="7"></table>
    <tr>
            <th width="50px">No</th>
            <th>account_no</th>
            <th>balance</th>
            <th>agent_id</th>
          </tr>
          -->
  </body>
</html>