<html>
        <head>
            <title>'agent wise report'</title>
        </head>
        <body>
                <section>
                          <form method='POST' action='agent_wise_report'>
                            <div class="form-group">
                              <label for="agent_id">Agent ID</label>
                              <input type="text" name="agent_id" id="agent_id" required />
                              <label for="sdate">Select starting date</label>
                              <input type="date" name="sdate" id="sdate" required />
                              <label for="edate">Select ending date</label>
                              <input type="date" name="edate" id="edate" required />
                            </div>
                          </form>
                </section>
        </body>
</html>